{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
        crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
        crossorigin="anonymous"></script>

        <title>{% block title %}Lovemo{% endblock %}</title>
    </head>

    <header id="header">
        <nav class="navbar nav-color">
            <div class=" container-fluid ms-3">
              <a class="navbar-brand" href="/">
                <img id="header-image" src="{% static 'images/lovemo-logo.png' %}" alt="lovemo-logo" width="80" height="60">
              </a>

              {% if user.is_authenticated %} 
                <div class="dropstart d-flex me-3">
                  <a class="" id="user-name" style="color: white;" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><p class="dropdown-item">{{user.lovies.lovie_bank}}</p></li>
                    <li><p class="dropdown-item">{{user.boo.boo}}</p></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </div>
              {% else %} 
                <div class="d-flex me-3">
                    <a href="/login" id="login-link" style="color: white;">Login</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Register" id="login-link" style="color: white;">Register</a>
                </div>  
              {% endif %}   
                
            </div>
          </nav>
    </header>

    <body>
        <div class="container">
                {% block content %}{% endblock %}
        </div>
    </body>

    <div style="position: absolute; width: 100%; bottom: 0;">
        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/creators" class="nav-link px-2 text-muted">Creators</a></li>
                <li class="nav-item"><a href="" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
              </ul>
              <p class="text-center text-muted">© 2021 Lovemo, Inc</p>
            </footer>
          </div>
    </div>
</html>