{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Boonical Document</title>
        <link href="{% static 'styles/styleboodoc.css' %}" rel="stylesheet">
    </head>

    <main id="main-doc">
        <section class="main-section" id="Introduction">
            <header>Introduction</header>
            <p>
                This is the boo document. A boo document is a document that describes the two individuals
                that are boos to one another, the currency used to make boo transactions, and the different 
                ways they show each other the love they have for each other. It can also include an abundance
                of different things that are important within the boos relationship.
            </p>
            <p>
                The two boos this document pertains to are Laineyboo(Elaine Vizcarra) and Laineysboo(David Garza).
                They love each other so very much and they are going to be together forever because they are perfect
                for each other. 
            </p>
            <code>
                <img alt="Me and Boo" src="images/Resized_20201108_150958.jpg">
                <img alt="Me and Boo2" src="images/Screenshot (15).png">
                <img alt="Me and Boo3" src="images/KakaoTalk_20201006_214615111.jpg">
                <img alt="Me and Boo4" src="images/20200828_200108[82].jpg">
            </code>
        </section>

        <section class="main-section" id="Laineyboo">
            <header>Laineyboo</header>
            <p>
                So who is Laineyboo you ask? Laineyboo is the most smartest, most beautifulest girl ever. She is super fun,
                and kind, and so loving. She super likes listening to Eminimen(her favorite artist), likes watching disney
                movies(because they're basically musicals), and really loves Hamilton(her favorite musical). 
            </p>
            <p>
                She is also the boo of Laineysboo. She is the love of his life. She makes him so happy because she gives him 
                so much love all the time. She makes him feel so safe and secure and loved. She's the most perfect boo he could
                have ever hoped for and more.
            </p>
            <code>
                <img alt="Laineyboo" src="images/20210225_143145.jpg">
                <img alt="Laineyboo2" src="images/IMG_7171.JPG">
                <img alt="Laineyboo3" src="images/20200725_162908.jpg">
                <img alt="Laineyboo4" src="images/20201004_203611.jpg">
            </code>
        </section>

        <section class="main-section" id="Laineysboo">
            <header>Laineysboo</header>
            <p>
                Laineys Boo is Laineyboo's Boo and is currently the richest Lovienaire in the universe. 
                He grew up primarily in Southern California and is of Mexican descent. He earned a 
                Bachelor's degree in Computer Science at California State University in Long Beach. He 
                has such a kind and gentle heart. He tries to support and help everyone who needs it, 
                like his family, his friends and Lainey Boo. He is a great friend to have and a great 
                boyfriend to his Boo. He tries to give the world to his Boo.
            </p>
            <p>
                Their relationship survived many intense trials that have only made their love stronger, being near
                indestructable to this day.
            </p>
            <code>
                <img alt="Laineysboo" src="images/laineysboo.jpg">
                <img alt="Laineysboo2" src="images/laineysboo2.jpg">
                <img alt="Laineysboo3" src="images/laineysboo3.jpg">
                <img alt="Laineysboo4" src="images/laineysboo4.jpg">
            </code>
        </section>

        <section class="main-section" id="Lovies">
            <header>Lovies</header>
            <p>
                Lovemo was started by Laineysboo. He started the Lovemo Bank with just 3 lovies and has grown his empire to
                an ever increasing amount. Lovemo was started for the main purpose of giving love to his boo. His boo deserves
                the amount of lovies that the current lovie value holds. Lovies can be used for all transactions made
                between the boos. They can be used to purchase kissys or rubby rubs or hugs, or any other type of
                representation of love.
            </p>
            <p>
                Lovemo is valued at 918283773818172737272773838282828883848392929282838474234234
                82818181818188282838838838383838383883484884848484848483838883883838838383342
                38282727615151114414142552535353636366363637747747748484588585995996996060234
                6615151515 Lovies.
            </p>
            <code>
                <img id="lovemo" src="images/lovemo3.png" alt="lovemo">
            </code>
        </section>

        <section class="main-section" id="Loving_each_other">
            <header>Loving each other</header>
            <p></p>
            <p></p>
            <code></code>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li</li>
            </ul>
        </section>
    </main>
    <nav id="navbar">
        <header>Boonical Document</header>
        <ul>
            <li><a id="nav-link" href="#Introduction">Introduction</a></li>
            <li><a id="nav-link" href="#Laineyboo">Laineyboo</a></li>
            <li><a id="nav-link" href="#Laineysboo">Laineysboo</a></li>
            <li><a id="nav-link" href="#Lovies">Lovies</a></li>
            <li><a id="nav-link" href="#Loving_each_other">Loving each other</a></li>
            <li><a id="nav-link" href="/home">Back to Lovemo</a></li>
        </ul>
    </nav>
</html>