{% extends 'main_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="mt-5" name="transactions">
            <h2 sty>Transactions</h2>
            {% if transactions %}
                {% for transaction in transactions %} 
                    <div id="transaction-card">
                        {% if transaction.payment_for %} 
                            <a href="/{{transaction.id}}"><h3>{{transaction}}</h3></a>
                        {% else %} 
                            <a href="/{{transaction.id}}"><h3>{{transaction}}</h3></a>
                        {% endif %}
                        {% if transaction.payment_for|length > 150 %}
                            <p>{{transaction.payment_for|slice:'150'}}</p>
                        {% else %}
                            <p>{{transaction.payment_for}}</p> 
                        {% endif %} 
                        <hr width="100%" align="LEFT">
                    </div>
                {% endfor %}
            {% else %} 
                <h2>no transactions</h2>
            {% endif %}
        </div>
        <div class="container mt-3" style="text-align: center;">
            <a  href="/create_transaction"><button id="send-lovies-btn">Send Lovies</button></a>
        </div>
    {% else %} 
        <h1 id="not-logged-in">You need to log in to see your lovies</h1>
    {% endif %} 
{% endblock %} 