{% extends 'main_app/base.html' %}

{% block content %}
        <div id="transactions" name="transactions">
            {% for transaction in transactions %} 
                <a href="/{{transaction.id}}"><h3>{{transaction}} for</h3></a>
                {% if transaction.payment_for|length > 150 %}
                    <p>{{transaction.payment_for|slice:'150'}}</p>
                {% else %}
                    <p>{{transaction.payment_for}}</p> 
                {% endif %} 
            {% endfor %}
        </div>
        <a href="/create_transaction"><button id="send-lovies-btn">Send Lovies</button></a>
{% endblock %} 