{% extends 'main_app/base.html' %}

{% block title %}
    Lovemo Transaction 
{% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
    <div id="comments" name="comments">
        <h1>{{transaction}}</h1>
        <h2>{{transaction.payment_for}}</h2>
        {% for comment in comments %} 
            <h3>{{comment}}</h3>
        {% endfor %} 
        <p>{{transaction.date_of_transaction}}</p>
        <form method="POST" action="/{{transaction.id}}/">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">post comment</button>
        </form>
    </div>
{% endblock %} 