/schtuff.txt
/lovemo_env
db.sqlite3
settings.py
lovemo/main_app/static/images/20200725_162908.jpg
lovemo/main_app/static/images/20201004_203611.jpg
lovemo/main_app/static/images/IMG_0217.JPG
lovemo/main_app/static/images/IMG_7171.JPG
lovemo/main_app/static/images/20210225_143145.jpg
lovemo/main_app/static/images/IMG_7121.JPG
lovemo/main_app/static/images/KakaoTalk_20201006_214615111.jpg
lovemo/main_app/static/images/laineysboo.jpg
lovemo/main_app/static/images/laineysboo2.jpg
lovemo/main_app/static/images/laineysboo3.jpg
lovemo/main_app/static/images/laineysboo4.jpg
lovemo/main_app/static/images/lovemo.png
lovemo/main_app/static/images/lovemo1.png
lovemo/main_app/static/images/lovemo3.png
lovemo/main_app/static/images/lovemo4.png
lovemo/main_app/static/images/Resized_20201108_150958.jpg
lovemo/main_app/static/images/Screenshot (15).png
lovemo/main_app/static/images/Untitled.png
lovemo/main_app/static/styles/styleboodoc.css
lovemo/main_app/static/images/20200828_200108[82].jpg