header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    background: rgb(248, 99, 99);
    width: 100%;
}

#header-nav {
    margin-top: 10px;
}

#header-image:hover {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

a:link {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    background-color: transparent;
}

body {
    background-color: whitesmoke;
    margin-top: 95px;
    text-align: center;
}

#content {
    font-size: larger;
    display: inline-block;
}

#transactions {
    text-align: center;
    background-color: lightgrey;
    padding: 0 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2rem;
}

#transactions a {
    text-align: left;
}

footer {  
    position: fixed;
    bottom: 0px;  
    left: 0px;
    width: 100%;  
    background-color: rgb(248, 99, 99);
    color: white;  
    text-align: center;
    display: inline-block;
}

footer a {
    margin-right: 80px;
}

#send-lovies-btn {
    margin-top: 10px;
    padding: 20px 60px;
    background-color: rgba(253, 75, 75, 0.808);
    display: inline-block;
    border-radius: 12px;
    color: white;
    margin-bottom: 50px;
}

#send-lovies-btn:hover {
    background-color: rgb(250, 49, 49);
    color:white;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.form-group {
    text-align: left;
}

#reg-link:hover {
    color: rgb(248, 99, 99);
}

#home-logo:hover {
    text-decoration: none;
}